@charset"utf-8";
.contenedor{
    display: flex;
    justify-content: end;
}
.card-text{
    margin-top: 2%;
}
.card-title{
    margin-top: 10%;
}

.boton{
    background-color:rgb(160, 231, 54) ;
    border: none;
    height: 140%;
}
.footer{
    color:#1d4358 ;
    background-color: #1d4358;
}
.foter{
    color:#1d4358 ;
    background-color: #1d4358;
  
    margin-left: -55%;
    margin-right: -55%;
}
.text{
    justify-content: center;
}
.container{
    max-width: 85%;
}
.imagen{
    filter: brightness(100%);
}